@model BTL_LapTrinhWeb.Areas.Admin.ViewModels.RevenueVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Doanh số hôm nay</p>
                    <h6 class="mb-0">@Model.TodaySales Đơn hàng</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Doanh số tháng</p>
                    <h6 class="mb-0">@Model.TotalSale Đơn hàng</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Doanh thu hôm nay</p>
                    <h6 class="mb-0">$@Model.TodayRevenue</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Doanh thu tháng</p>
                    <h6 class="mb-0">$@Model.TotalRevenue</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Biểu đồ doanh thu tháng</h6>
                </div>
                <canvas id="month-sales"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Biểu đồ doanh số tháng</h6>
                </div>
                <canvas id="sales-revenue"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart End -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Đơn hàng gần đây</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Ngày</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Mã hóa đơn</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.RecentSales)
                    {
                        <tr>
                            <td>@item.NgayDat</td>
                            <td>@item.TenKH</td>
                            <td>@item.MaHD</td>
                            <td>@item.TongTienHD</td>
                            <td>@item.TrangThai</td>
                            <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
@{
    var revenueData = Model;
}

@section Scripts {
    <script>
        var revenueVM = {
            monthlyRevenue: @Html.Raw(Json.Serialize(revenueData.MonthlyRevenue)),
            monthlySales: @Html.Raw(Json.Serialize(revenueData.MonthlySales))
                            };

        // Biểu đồ Worldwide Sales theo doanh thu hàng tháng
        var ctx1 = $("#month-sales").get(0).getContext("2d");
        var myChart1 = new Chart(ctx1, {
            type: "bar",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Dolars($)",
                    data: revenueVM.monthlyRevenue,
                    backgroundColor: "rgba(0, 156, 255, .7)"
                }]
            },
            options: {
                responsive: true
            }
        });

        // Biểu đồ Sales & Revenue theo doanh số hàng tháng
        var ctx2 = $("#sales-revenue").get(0).getContext("2d");
        var myChart2 = new Chart(ctx2, {
            type: "line",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Đơn hàng",
                    data: revenueVM.monthlySales,
                    backgroundColor: "rgba(0, 156, 255, .5)",
                    borderColor: "rgba(0, 156, 255, .8)",
                    fill: true
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>
}

