@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers
@model BTL_LapTrinhWeb.ViewModels.HangHoaAnnotation

@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-primary mb-4">Thêm Sản Phẩm Mới</h1>

<div class="card shadow mb-4">
    <div class="card-header">
        <h4 class="mb-0">Hàng Hóa</h4>
    </div>
    <div class="card-body">
        <form method="post" asp-action="ThemSanPhamMoi" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="@Model.TenHh" class="form-label fw-bold">Tên Hàng Hóa</label>
                <input asp-for="@Model.TenHh" class="form-control" />
                <span asp-validation-for="@Model.TenHh" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="@Model.TenAlias" class="form-label fw-bold">Tên Alias</label>
                <input asp-for="@Model.TenAlias" class="form-control" />
                <span asp-validation-for="@Model.TenAlias" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="@Model.MaLoai" class="form-label fw-bold">Loại Hàng</label>
                <select asp-for="@Model.MaLoai" class="form-control" asp-items="ViewBag.MaLoai"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="@Model.DonGia" class="form-label fw-bold">Đơn Giá</label>
                <input asp-for="@Model.DonGia" class="form-control" />
                <span asp-validation-for="@Model.DonGia" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="@Model.MoTaDonVi" class="form-label fw-bold">Mô Tả Đơn Vị</label>
                <input asp-for="@Model.MoTaDonVi" class="form-control" />
                <span asp-validation-for="@Model.MoTaDonVi" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="form-label fw-bold" for="Hinh">Hình Ảnh</label>
                <input type="file" name="Hinh" class="form-control" />
            </div>

            <div class="form-group mb-3">
                <label asp-for="@Model.NgaySx" class="form-label fw-bold">Ngày Sản Xuất</label>
                <input asp-for="@Model.NgaySx" class="form-control" />
                <span asp-validation-for="@Model.NgaySx" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="@Model.GiamGia" class="form-label fw-bold">Giảm Giá</label>
                <input asp-for="@Model.GiamGia" class="form-control" />
                <span asp-validation-for="@Model.GiamGia" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="@Model.SoLanXem" class="form-label fw-bold">Số Lần Xem</label>
                <input asp-for="@Model.SoLanXem" class="form-control" />
                <span asp-validation-for="@Model.SoLanXem" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="@Model.MoTa" class="form-label fw-bold">Mô Tả</label>
                <input asp-for="@Model.MoTa" class="form-control" />
                <span asp-validation-for="@Model.MoTa" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="@Model.MaNcc" class="form-label fw-bold">Nhà Cung Cấp</label>
                <select asp-for="@Model.MaNcc" class="form-control" asp-items="ViewBag.MaNcc"></select>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Thêm Mới" class="btn btn-outline-primary m-2" />
                <a asp-action="DanhMucSanPham" class="btn">Quay lại</a>
            </div>
        </form>
    </div>
</div>


